/**
 * editor.scss
 * Editor-only styles.
 */

.wp-block-custom-blocks-dynamic-heading {
	// In the editor, make sure headings are visible
	.dynamic-heading-item {
		opacity: 1;
	}

	.dynamic-heading-editor-preview {
		margin: 0;
		padding: 0.5em 0;

		.dynamic-text-wrapper {
			display: inline-block;
		}
	}
}

